<div>
  <% if (errors.name) { %>
    <ul class="error-messages">
      <% errors.name.forEach((message) => { %>
        <li><%= message %></li>
      <% }) %>    
    </ul>
  <% } %>

  <label for="product-name">Name</label>
  <input
    type="text"
    name="name"
    id="product-name"
    maxlength="50"
    required
    value="<%= product.name %>"
    <% if (errors.name) { %>
      class="error"
    <% } %> 
  />
</div>

<div>
  <% if (errors.category_id) { %>
    <ul class="error-messages">
      <% errors.category_id.forEach((message) => { %>
        <li><%= message %></li>
      <% }) %>    
    </ul>
  <% } %>

  <label for="product-category">Category</label>
  <select 
    name="category_id" 
    id="product-category" 
    <% if (errors.category_id) { %>
      class="error"
    <% } %> 
  >
    <option value="">Uncategorized</option>
    <% categories.forEach((category) => { %>
      <option value="<%= category.id %>"
        <% if (category.id === product.category_id) { %>
          selected
        <% } %>
        >
        <%= category.name %>
      </option>
    <% }) %>
  </select>
</div>

<div>
  <% if (errors.quantity || errors.unit) { %>
    <ul class="error-messages">
      <% if (errors.quantity) { %>
        <% errors.quantity.forEach((message) => { %>
          <li><%= message %></li>
        <% }) %>    
      <% } %>
      <% if (errors.unit) { %>
        <% errors.unit.forEach((message) => { %>
          <li><%= message %></li>
        <% }) %>    
      <% } %>
    </ul>
  <% } %>

  <label for="product-quantity">Quantity</label>
    <div class="quantity-unity-container">
      <input
        type="number"
        name="quantity"
        id="product-quantity"
        min="0"
        required
        value="<%= product.quantity %>"
        <% if (errors.quantity) { %>
          class="error"
        <% } %> 
      />
      <input
        type="text"
        name="unit"
        id="product-unit"
        maxlength="15"
        placeholder="Quantity unit"
        required
        value="<%= product.unit %>"
        <% if (errors.unit) { %>
          class="error"
        <% } %> 
      />
    </div>
  </div>

<div>
  <% if (errors.price) { %>
    <ul class="error-messages">
      <% errors.price.forEach((message) => { %>
        <li><%= message %></li>
      <% }) %>    
    </ul>
  <% } %>

  <label for="product-price">Price (per unit)</label>
  <input
    type="number"
    name="price"
    id="product-price"
    min="0"
    step="0.01"
    placeholder="0.00"
    required
    value="<%= product.price %>"
    <% if (errors.price) { %>
      class="error"
    <% } %> 
  />
</div>
