<div class="table-container">
  <table>
    <caption>
      Products List
    </caption>
    <thead>
      <tr>
        <th>
          <a href="?sort=name&direction=<%= nameDirection ? nameDirection : "asc" %>">
            Name
            <%= 
              nameDirection === "asc" 
                ? "⬇" : nameDirection === "desc" 
                ? "⬆" : nameDirection
            %>
          </a>
        </th>
        <th>
          <a href="?sort=quantity&direction=<%= quantityDirection ? quantityDirection : "asc" %>">
            Quantity
            <%= 
             quantityDirection === "asc" 
                ? "⬇" : quantityDirection === "desc" 
                ? "⬆" : quantityDirection
            %>
          </a>
        </th>
        <th>
          <a href="?sort=price&direction=<%= priceDirection ? priceDirection : "asc" %>">
            Price(per unit)
            <%= 
              priceDirection === "asc" 
                ? "⬇" : priceDirection === "desc" 
                ? "⬆" : priceDirection
            %>
          </a>
        </th>
        <th>
          <a href="?sort=category&direction=<%= categoryDirection ? categoryDirection : "asc" %>">
            Category
            <%= 
              categoryDirection === "asc" 
                ? "⬇" : categoryDirection === "desc" 
                ? "⬆" : categoryDirection
            %>
          </a>
        </th>
        <th>Details</th>
      </tr>
    </thead>
    <tbody>
      <% products.forEach((product) => { %>
        <tr>
          <td><%= product.name %></td>
          <td><%= `${product.quantity} ${product.unit}` %></td>
          <td>$<%= product.price %></td>
          <td><%= product.category %></td>
          <td><a href="/view/products/<%= product.id %>">. . .</a></td>
        </tr>
      <% }) %>
    </tbody>
  </table>
  <div class="pagination-container">
    <div class="count-pages">
      Page <%= pagination.currentPage %> of <%= pagination.totalPages %>
    </div>
    <div class="page-navigation">
      <% if (pagination.hasPreviousPage) { %>
       <a class="page-link" href="<%= pagination.getPreviousPageLink() %>">Previous</a>
      <% } %>
      <% if (pagination.hasNextPage) { %>
       <a class="page-link" href="<%= pagination.getNextPageLink() %>">Next</a>
      <% } %>
    </div>
  </div>
</div>
