<div class="table-container">
  <table>
    <thead>
      <tr>
        <th>
          <a href="?sort=name&direction=<%= nameDirection ? nameDirection : "asc" %>">
            NAME
            <%= 
              nameDirection === "asc" 
                ? "⬇" : nameDirection === "desc" 
                ? "⬆" : nameDirection
            %>
          </a>
        </th>
        <th>
          <a href="?sort=quantity&direction=<%= quantityDirection ? quantityDirection : "asc" %>">
            QUANTITY
            <%= 
             quantityDirection === "asc" 
                ? "⬇" : quantityDirection === "desc" 
                ? "⬆" : quantityDirection
            %>
          </a>
        </th>
        <th>
          <a href="?sort=price&direction=<%= priceDirection ? priceDirection : "asc" %>">
            PRICE (PER UNIT)
            <%= 
              priceDirection === "asc" 
                ? "⬇" : priceDirection === "desc" 
                ? "⬆" : priceDirection
            %>
          </a>
        </th>
        <th>
          <a href="?sort=category&direction=<%= categoryDirection ? categoryDirection : "asc" %>">
            CATEGORY
            <%= 
              categoryDirection === "asc" 
                ? "⬇" : categoryDirection === "desc" 
                ? "⬆" : categoryDirection
            %>
          </a>
        </th>
        <th>DETAILS</th>
      </tr>
    </thead>
    <tbody>
      <% products.forEach((product) => { %>
        <tr>
          <td><%= product.name %></td>
          <td><%= `${product.quantity} ${product.unit}` %></td>
          <td>$<%= product.price %></td>
          <td><%= product.category %></td>
          <td><a href="/view/products/<%= product.id %>">. . .</a></td>
        </tr>
      <% }) %>
    </tbody>
  </table>
  <div class="pagination-container">
    <div class="count-pages">
      Page <span><%= pagination.currentPage %></span> of <span><%= pagination.totalPages %></span>
    </div>
    <div class="page-navigation">
      <% if (pagination.hasPreviousPage) { %>
       <a class="page-link" href="<%= pagination.getPreviousPageLink() %>">Previous</a>
      <% } %>
      <% if (pagination.hasNextPage) { %>
       <a class="page-link" href="<%= pagination.getNextPageLink() %>">Next</a>
      <% } %>
    </div>
  </div>
</div>
