<!DOCTYPE html>
<html lang="en">
<head>
  <%- include("partials/head.ejs") %>
  <link rel="stylesheet" href="/styles/categoryEdit.css">
  <title><%= title %></title>
</head>
<body>
  <%- include("partials/header.ejs") %>
  <main>
    <section>
      <h3>Edit Categories</h3>
      <% if (locals.errors) { %>
        <ul class="error-messages">
          <% errors.forEach((error) => { %>
            <li>
              <%= error.msg %>
            </li>
          <% }) %>
        </ul>
      <% } %>
      <div class="categories-container">
        <% categories.forEach((category) => { %>
          <div class="category-card-container">
            <div class="category-card">
              <p class="display-name"><%= category.name %></p>
    
              <form 
                class="edit-name hidden"
                action="/edit/category/<%= category.id %>/update" 
                method="post"
              >
                <input 
                  type="text"
                  value="<%= category.name %>"
                  minlength="1"
                  maxlength="20"
                  name="name"
                  placeholder="Insert a category name"
                  class="name-input"
                  required
                />
                <button class="button-action open-dialog" type="button">Save</button>
                <%- include("partials/passwordModal.ejs") %>
              </form>
    
              <p class="display-products"><%= category.products_count %> products</p>
            </div>
    
            <button class="button-action" onclick="toggleForm(this)">
              Edit
            </button>
    
            <form action="/edit/category/<%= category.id %>/delete" method="post">
              <button 
                type="button" 
                onclick="return confirm('Are you sure you want to delete this category ? Its associated products will be uncategorized.')"
                class="button-action delete open-dialog"
              > 
                Delete
              </button>
              <%- include("partials/passwordModal.ejs") %>
            </form>
          </div>
        <% }) %>
    
        <div class="add-category-container">
          <button class="button-toggle-new-category category-card" onclick="addToggleForm(this)">
            + Add new category
          </button>
    
          <div class="new-category-form category-card hidden">
            <form action="/edit/category/new" method="post">
              <input 
                type="text"
                minlength="1"
                maxlength="20"
                name="name"
                placeholder="Insert a category name"
                class="name-input"
                required
              />
              <button class="button-action open-dialog" type="button">Save</button>
              <button class="button-action cancel" type="reset" onclick="addToggleForm(this)">Cancel</button>
              <%- include("partials/passwordModal.ejs") %>
            </form>
            <p class="display-products">0 products</p>
          </div>
        </div>
      </div>
    </section>
  </main>
  <script src="/scripts/categoryEdit.js"></script>
  <script src="/scripts/passwordModal.js"></script>
</body>
</html>