<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include("partials/head.ejs") %>
    <link rel="stylesheet" href="/styles/edit.css">
    <title>Grocery Inventory</title>
  </head>
  <body>
    <%- include("partials/header.ejs") %>
    <main>
      <nav class="edit-nav">
        <a class="edit-link" href="/edit/category">Manage Categories</a>
        <a class="edit-link" href="/edit/products/new">Add new product</a>
        <div class="edit-product-container">
          <% if (locals.errors) { %>
            <ul class="error-messages">
              <% errors.forEach((error) => { %>
                <li><%= error.msg %></li>
              <% }) %>
            </ul>
          <% } %>
          <button class="button-toggle-form edit-link" onclick="toggleForm(this)">
            Edit a product
          </button>
          <form class="search-product hidden" action="/edit" method="post">
            <input
              type="text"
              name="name"
              minlength="1"
              maxlength="50"
              placeholder="Enter a product name…"
              required
            />
            <button type="submit">Search</button>
          </form>
        </div>
      </nav>
      <% if (locals.matchingProducts) { %>
       <div class="product-match">
        <h4>Products matching you search :</h4>
        <ul>
          <% matchingProducts.forEach((product) => { %>
            <li>
              <a href="/edit/products/<%= product.id %>">
                <%= product.name %>
              </a>
            </li>
          <% }) %>
        </ul>
       </div>
      <% } %>
    </main>
    <script src="/scripts/edit.js"></script>
  </body>
</html>
