<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Grocery Inventory</title>
  </head>
  <body>
    <%- include("partials/header.ejs") %>
    <main>
      <h2>Welcome !</h2>
      <section class="invent-summary">
        <h3>Inventory Summary</h3>
        <div class="summary-card">
          <p>Total Products</p>
          <p><%= totalProductsCount %></p>
        </div>
        <div class="summary-card">
          <p>Total Categories</p>
          <p><%= totalCategoriesCount %></p>
        </div>
        <div class="summary-card">
          <p>Total Stock Value</p>
          <p><%= totalStockValue %></p>
        </div>
      </section>
      <section>
        <h3>Category Breakdown</h3>
        <ul>
          <% categories.forEach((category) => { %>
            <li><%= category.name %> : <%= category.products_count %> products</li>
          <% }) %>
        </ul>
      </section>
    </main>
  </body>
</html>
