<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include("partials/head.ejs") %>
    <link rel="stylesheet" href="/styles/productForm.css">
    <link rel="stylesheet" href="/styles/productEdit.css">
    <title><%= title %></title>
  </head>
  <body>
    <%- include("partials/header.ejs") %>
    <main>
      <section>
        <div class="heading">
          <h3>Edit Product</h3>
  
          <form action="<%= product.id %>/delete" method="post">
            <button
              type="button"
              onclick="return confirm('Are you sure you want to delete this product ?')"
              class="action open-dialog"
            >
              Delete
            </button>
            <%- include("partials/passwordModal.ejs") %>
          </form>
        </div>
        
        <form action="/edit/products/<%= product.id %>" method="post" class="product-form">
          <%- include("partials/productForm.ejs", { product, categories, errors }) %>
          <div class="action-container">
            <a href="/view/products/<%= product.id %>" class="action">Return to product details</a>
            <button type="button" class="action open-dialog">
              Save
            </button>
          </div>
          <%- include("partials/passwordModal.ejs") %>
        </form>
      </section>
    </main>
    <script src="/scripts/passwordModal.js"></script>
  </body>
</html>
