<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include("partials/head.ejs") %>
    <link rel="stylesheet" href="/styles/productTable.css">
    <link rel="stylesheet" href="/styles/productListCategory.css">
    <title>Grocery Inventory</title>
  </head>
  <body>
    <%- include("partials/header.ejs") %>
    <main>
      <div class="category-list-container">
        <div class="category-select">
          <p>Show category :</p>
          <div class="select-container">
            <button
              class="select-expand"
              onclick="toggleSelect(this)"
              aria-label="Select products' category to display"
            >
              <%= currentCategoryName %> 
            </button>
            <ul class="select-list hidden">
            <% categories.forEach((category) => { %>
                <li>
                  <a href="<%= category.id %>">
                    <%= category.name %>
                  </a>
                </li>
                <% }) %>
            </ul>
          </div>
        </div>
        <%- include("partials/productTable.ejs", { 
          products, 
          pagination, 
          nameDirection, 
          quantityDirection, 
          priceDirection, 
          categoryDirection
        }) %>
      </div>
    </main>
    <script src="/scripts/productListCategory.js"></script>
  </body>
</html>
